* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
}

.container-item {
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
    font-size: 100%;
    color: gray;
    background: white;
}

.container {
    display: grid;
    gap: 2%;
    background: #6ce4dc;
    padding: 15px;

    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);

    justify-items : stretch;
    align-items: stretch;
    width: 295px;
    height: 405px;
}