.App {
  text-align: center;
  height: 100vh;
  background: url(../public/backgr.jpeg) no-repeat;
  background-size: cover;
}

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10%;
  /* transform: scale(1.4); */
}